/*----------------------------------------
  #STATES
----------------------------------------*/

.is-active {
	color: $black;
}

.is-inactive {
	color: $light-grey !important;
}

.is-gold {
	color: $sourdough;
}