/*----------------------------------------
  #VARIABLES
----------------------------------------*/

// #Typography
$serif: 'ltc-bodoni-175', 'Georgia', serif;
$sans-serif: 'sofia-pro', 'Helvetica Neue', 'Helvetica', sans-serif;

$rem-base: 62.5%;
$font-base: 16px;
$line-height-base-ratio: 1.6;
$line-height-base: 26;

$xs-font: 10px;
$sm-font: 12px;
$md-font: 16px;
$lg-font: 24px;
$xl-font: 32px;
$xxl-font: 48px;
$xxxl-font: 64px;
$huge-font: 96px;

$light-font: 200;
$regular-font: 400;
$bold-font: 700;

// #Color Palette
$black: #050606;
$dark-grey: #696969;
$med-grey: #A9A9A9;
$light-grey: #D3D3D3;
$white: #ffffff;
$red: #ea1e31;
$sourdough: #cfba95;