/*----------------------------------------
  #LAYOUT
----------------------------------------*/

// Default Layout
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

// Border Box Fix

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Body
body {
	-webkit-text-size-adjust: 100%;
	background-color: $black;
	color: $white;
}

img {
	display: block;
	max-width: 100%;
}

%container {
	border-width: 20px;
	border-style: solid;
	height: auto;
}

%responsive-w-border {
	width: 100%;
	max-width: 95%;
	max-width: calc(100% - 20px);
	margin-bottom: 2em;
}

.container--white {
	@extend %container;
	border-color: $black;
}

.container--black {
	@extend %container;
	border-color: $white;
}

.container__content {
	@include container(100%);
	height: 100vh;
	height: calc(100vh - 40px);
	overflow: scroll;
}

%content {
	padding: 2em 0 0 2em;
	@include bp(lg) {
		padding: 2em 0;
	}
}

// Masonry
.grid-item {
	float: left;
	margin-bottom: 2em;
	img {
		width: 100%;
		@include bp(md) {
			float: left;
		}
	}
}
.grid-sizer, .grid-item {
	width: 97%;
	width: calc(100% - 20px);
	@include bp(sm) {
		width: 45%;
		width: calc(50% - 20px);
	}
	@include bp(md) {
		width: 31%;
		width: calc(33.333% - 20px); 
	}
}

// Content
.content {
	@extend %content;
	@include bp(lg) {
		@include span(last 10 of 12);
	}
}

// Services
.service--learn, .service--capabilities, .service--capacities {
	ul {
		font-family: $sans-serif;
		@include text-transform(1px,uppercase);
	}
	li, p {
		color: $med-grey;
		font-size: 1.25rem;
		list-style-type: none;
	}
	margin-bottom: 2em;
}

.service--learn {
	border-left: $sourdough 2px solid;
	padding-left: 2em;
	@include bp(lg) {
		@include span(first 6 of 12);
	}
	p { 
		margin: 0;
		font-style: italic;
	}
}

.service--capabilities {
	@include bp(lg) {
		@include span(3 of 12);
	}
}

.service--capacities {
	@include bp(lg) {
		@include span(last 3 of 12);
	}
}

.content--services img {
	@extend %responsive-w-border;
}

// About
#about {
	background-image: url('../img/home-bg.jpg');
}
.content--about img {
	@extend %responsive-w-border;
}

.content--about {
	h1, p {
		word-wrap: break-word;
		max-width: 95%;
		max-width: calc(100% - 20px);
	}
	h1 {
		@extend %visuallyhidden;
	}
	p { 
		max-width: 600px; 
		padding-right: 1em;
	}
}

// Contact
.content--contact {
	h1, p {
		word-wrap: break-word;
		max-width: 95%;
		max-width: calc(100% - 20px);
	}
}

.contact__form {
	max-width: 646px;
	input {
		font-family: $sans-serif;
		font-size: 1.5rem;
		min-width: 200px;
		width: 100%;
		max-width: 95%;
		max-width: calc(100% - 20px);
		margin-bottom: 2em;
		border: 1px $white solid;
		padding: 10px 15px;
		@include bp(md) {
			width: auto;
			margin-right: 20px;
			max-width: 200px;
		}
		&:focus, &:active {
			outline: none;
			border: 1px $red solid;
			@include single-transition(border,0.3s,ease-in-out);
		}
		&:nth-of-type(3) {
			margin-right: 0;
		}
	}
	textarea {
		@extend input;
		display: block;
		@include bp(md) {
			width: 100%;
			margin: 0;
			max-width: 646px;
		}
		height: 60px;
		@include single-transition(height,0.5s,ease-in-out);
		&:focus, &:active {
			height: 200px;
			@include single-transition(height,0.5s,ease-in-out);
		}
	}
	button {
		margin-right: 2em;
		background-color: transparent;
		width: 200px;
		padding: 10px 0 11px;
		border: 1px solid $sourdough;
		color: $sourdough;
		float: right;
		font-family: $sans-serif;
		@include text-transform(1px,uppercase);
		@include bp(md) {
			margin: 2em 0;
			float: right;
		}
		&:hover, &:focus, &:active {
			outline: none;
			background-color: $white;
			color: $black;
			border: 1px solid $white;
			@include single-transition(all,0.5s,ease-in-out);
		}
	}
}