/*----------------------------------------
  #LAYOUT
----------------------------------------*/

// Default Layout
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

// Border Box Fix

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Body
body {
	-webkit-text-size-adjust: 100%;
	background-color: $black;
	color: $white;
}

img {
	display: block;
	max-width: 100%;
}

%container {
	border-width: 20px;
	border-style: solid;
	height: auto;
}

%responsive-w-border {
	width: 100%;
	max-width: 95%;
	max-width: calc(100% - 20px);
	margin-bottom: 2em;
}

.container--white {
	@extend %container;
	border-color: $black;
}

.container--black {
	@extend %container;
	border-color: $white;
}

.container__content {
	@include container(100%);
	height: 100vh;
	height: calc(100vh - 40px);
	overflow: scroll;
}

%content {
	padding: 2em 0 0 2em;
	@include bp(lg) {
		padding: 2em 0;
	}
}

// Masonry
.grid-item {
	float: left;
	margin-bottom: 2em;
	img {
		width: 100%;
		@include bp(md) {
			float: left;
		}
	}
}
.grid-sizer, .grid-item {
	width: 97%;
	width: calc(100% - 20px);
	@include bp(sm) {
		width: 45%;
		width: calc(50% - 20px);
	}
	@include bp(md) {
		width: 31%;
		width: calc(33.333% - 20px); 
	}
}

// Content
.content {
	@extend %content;
	@include bp(lg) {
		@include span(last 10 of 12);
	}
}

.content__navigation {
	@extend .small-text;
	@include text-transform(1px,uppercase);
	color: $med-grey;
	font-family: $sans-serif;
	padding-bottom: 1em;
	width: 97%;
	width: calc(100% - 20px);
	a {
		padding-bottom: none;
		border-bottom: none;
		color: $med-grey;
		&:hover {
			color: $white;
			@include single-transition(color,0.15s,ease-in-out);
		}
	}
}
.content__navigation-load {
	height: 1px;
	width: 97%;
	width: calc(100% - 20px);
	margin-bottom: 2em;
	.load {
		float: left;
		height: 100%;
		width: 0%;
		background-color: $med-grey;
		@include single-transition(width,0.75s,ease-in-out);
	}
}

// Resources

.content--services {
	.accordion {
		width: 97%;
		width: calc(100% - 20px);
	}
	.transition, p, ul li i:before, ul li i:after {
	  transition: all 0.25s ease-in-out;
	}

	.flipIn, ul li {
	  animation: flipdown 0.5s ease both;
	}

	.no-select, h3 {
	  -webkit-tap-highlight-color: transparent;
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	h2 {
		@include text-transform(2px,uppercase);
		margin-bottom: 1em;
	}

	h3 {
	  @include text-transform(1px,normal);
	  font-size: 1.75em;
	  display: block;
	  margin: 0;
	  cursor: pointer;
	}

	p {
	  padding-left: 20px;
	  border-left: $sourdough 5px solid;
	  position: relative;
	  overflow: hidden;
	  max-height: 800px;
	  opacity: 1;
	  transform: translate(0, 0);
	  margin-top: 14px;
	  z-index: 2;
	}

	ul {
	  list-style: none;
	  perspective: 900;
	  padding: 0;
	  margin: 0;
	}
	ul li {
	  position: relative;
	  padding: 0;
	  margin: 0;
	  padding-bottom: 4px;
	  padding-top: 18px;
	  border-top: 1px solid $dark-grey;
	}
	ul li:nth-of-type(1) {
	  animation-delay: 0.5s;
	}
	ul li:nth-of-type(2) {
	  animation-delay: 0.75s;
	}
	ul li:nth-of-type(3) {
	  animation-delay: 1s;
	}
	ul li:nth-of-type(4) {
	  animation-delay: 1.25s;
	}
	ul li:nth-of-type(5) {
	  animation-delay: 1.5s;
	}
	ul li:last-of-type {
	  padding-bottom: 0;
	}
	ul li i {
	  position: absolute;
	  transform: translate(-20px, -3px);
	  margin-top: 16px;
	  right: 0;
	}
	ul li i:before, ul li i:after {
	  content: "";
	  position: absolute;
	  background-color: $white;
	  width: 3px;
	  height: 9px;
	}
	ul li i:before {
	  transform: translate(-2px, 0) rotate(45deg);
	}
	ul li i:after {
	  transform: translate(2px, 0) rotate(-45deg);
	}
	ul li input[type=checkbox] {
	  position: absolute;
	  cursor: pointer;
	  width: 100%;
	  height: 100%;
	  z-index: 1;
	  opacity: 0;
	}
	ul li input[type=checkbox]:checked ~ p {
	  margin-top: 0;
	  max-height: 0;
	  opacity: 0;
	  transform: translate(0, 50%);
	}
	ul li input[type=checkbox]:checked ~ i:before {
	  transform: translate(2px, 0) rotate(45deg);
	}
	ul li input[type=checkbox]:checked ~ i:after {
	  transform: translate(-2px, 0) rotate(-45deg);
	}

	@keyframes flipdown {
	  0% {
	    opacity: 0;
	    transform-origin: top center;
	    transform: rotateX(-90deg);
	  }
	  5% {
	    opacity: 1;
	  }
	  80% {
	    transform: rotateX(8deg);
	  }
	  83% {
	    transform: rotateX(6deg);
	  }
	  92% {
	    transform: rotateX(-3deg);
	  }
	  100% {
	    transform-origin: top center;
	    transform: rotateX(0deg);
	  }
	}
}

.content--services img {
	@extend %responsive-w-border;
}

// About
#about {
	background-image: url('../img/home-bg.jpg');
}
.content--about img {
	@extend %responsive-w-border;
	@include bp(lg) {
		display: inline-block;
		margin-bottom: 0;
	}
}

.content--about p + img {
	margin-top: 1em;
}

.content--about p + img + span {
	margin-top: 1em;
}

.content--about img + span {
	display: none;
	@include bp(lg) {
		width: 120px;
		display: inline-block;
		vertical-align: top;
	}
}

.content--about {
	h1, p {
		word-wrap: break-word;
		max-width: 95%;
		max-width: calc(100% - 20px);
	}
	h1 {
		@extend %visuallyhidden;
	}
	p, img { 
		max-width: 768px; 
		padding-right: 20px;
	}
}

// Contact
.content--contact {
	h1, p {
		word-wrap: break-word;
		max-width: 95%;
		max-width: calc(100% - 20px);
	}
}

.contact__form {
	max-width: 646px;
	form { margin-top: 4em; }
	input {
		font-family: $sans-serif;
		font-size: 1.5rem;
		min-width: 200px;
		width: 100%;
		max-width: 95%;
		max-width: calc(100% - 20px);
		margin-bottom: 2em;
		border: 1px $white solid;
		padding: 10px 15px;
		@include bp(md) {
			width: auto;
			margin-right: 20px;
			max-width: 200px;
		}
		&:focus, &:active {
			outline: none;
			border: 1px $red solid;
			@include single-transition(border,0.3s,ease-in-out);
		}
		&:nth-of-type(3) {
			margin-right: 0;
		}
	}
	textarea {
		@extend input;
		display: block;
		@include bp(md) {
			width: 100%;
			margin: 0;
			max-width: 646px;
		}
		height: 60px;
		@include single-transition(height,0.5s,ease-in-out);
		&:focus, &:active {
			height: 200px;
			@include single-transition(height,0.5s,ease-in-out);
		}
	}
	button {
		margin-right: 2em;
		background-color: transparent;
		width: 200px;
		padding: 10px 0 11px;
		border: 1px solid $sourdough;
		color: $sourdough;
		float: right;
		font-family: $sans-serif;
		@include text-transform(1px,uppercase);
		@include bp(md) {
			margin: 2em 0;
			float: right;
		}
		&:hover, &:focus, &:active {
			outline: none;
			background-color: $white;
			color: $black;
			border: 1px solid $white;
			@include single-transition(all,0.5s,ease-in-out);
		}
	}
}