/*----------------------------------------
  #SIDEBAR
----------------------------------------*/

.sidebar {
	@include bp(lg) {
		position: fixed;
		@include span(2 of 12);
	}
}

// Header
header {
	margin: 2em;
}

.header__logo {
	margin: 0;
}

.header__logo a {
    display: block;
	height: 80px;
    width: 80px;
	@include img-2x('logo.png','logo-2x.png');
}

.header__name {
	@extend %visuallyhidden;
}

.header__description {
	@extend .small-text;
	@include text-transform(2px,uppercase);
	max-width: 20em;
	font-family: $sans-serif;
	width: 95%;
    display: block;
    margin: 2em 0;
}

// Navigation
nav {
	display: block;
	margin: 2em;
}

nav ul {
	@extend .small-text;
	@include text-transform(2px,uppercase);
	font-family: $sans-serif;
	color: $light-grey;
	a {
		margin-bottom: 1.5em;
		&:hover {
			color: $white;
			@include single-transition(color,0.15s,ease-in-out);
		}
	}
}