/*----------------------------------------
  #SIDEBAR
----------------------------------------*/

.sidebar {
	padding-top: 20px;
	@include bp(lg) {
		position: fixed;
		@include span(2 of 8);
	}
}

// Header
header {
	margin: 2em;
}

.header__logo {
	margin: 0;
}

.header__logo a {
    display: block;
	height: 80px;
    width: 80px;
    border-bottom: none;
    padding-bottom: 0;
	@include img-2x('logo.png','logo-2x.png');
}

.header__name {
	@extend %visuallyhidden;
}

// Navigation
nav {
	display: block;
	margin: 2em;
}

nav ul {
	@extend .small-text;
	@include text-transform(2px,uppercase);
	font-family: $sans-serif;
	color: $light-grey;
	a {
	    padding-bottom: 0;
		border-bottom: none;
		margin-bottom: 1.5em;
		color: $med-grey;
		&:hover, &:focus {
			border-bottom: none;
			color: $black;
		}
	}
}