/*----------------------------------------
  #TYPOGRAPHY
----------------------------------------*/

html {
	font-size: $rem-base;
}

body {
	font-family: $serif;
	font-weight: $light-font;
	@include line-height($line-height-base-ratio);
}

.wf-loading {
    @include opacity(0);
}

.wf-active, .wf-inactive {
    @include opacity(1);
    @include single-transition(opacity,0.2s,ease-in-out);
}

h1,h2,h3,h4,h5,h6,p {
	margin: 1em 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $sans-serif;
	font-weight: $bold-font;
}

h1,h2,h3 {
	@include text-transform(-1px, none);
	margin: 0.5em 0;
}

h1 {
	@include font-size($lg-font/2);
	@include bp(md) {
		@include font-size($lg-font);
	}
}

h2 {
	@include font-size($md-font/2);
	@include bp(md) {
		@include font-size($md-font);
	}
}

h3 {
	@include font-size($sm-font/2);
	@include bp(md) {
		@include font-size($sm-font);
	}
}

h4 {
	@include font-size($xs-font/2);
	@include bp(md) {
		@include font-size($xs-font);
	}
}

.h1 {
	@include font-size($huge-font/2);
	@include bp(md) {
		@include font-size($huge-font);
	}
}

.h2 {
	@include font-size($xxxl-font/2);
	@include bp(md) {
		@include font-size($xxxl-font);
	}
}

.h3 {
	@include font-size($xxl-font/2);
	@include bp(md) {
		@include font-size($xxl-font);
	}
}

.h4 {
	@include font-size($xl-font/2);
	@include bp(md) {
		@include font-size($xl-font);
	}
}

.h5 {
	@include font-size($lg-font/2);
	@include bp(md) {
		@include font-size($lg-font);
	}
	@include text-transform(1px, uppercase);
}

.h6 {
	@include font-size($md-font/2);
	@include bp(md) {
		@include font-size($md-font);
	}
	@include text-transform(1px, uppercase);
}

p {
	font-family: $serif;
	font-weight: $light-font;
	@include font-size($md-font);
}

a {
	text-decoration: none;
	color: $med-grey;
}

.small-text {
	@include font-size($sm-font);
	font-weight: $light-font;
}